@charset "UTF-8";
@font-face {
  font-family: Damion;
  src: url(../fonts/Damion/Damion-Regular.ttf);
}
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Black;
  src: url(../fonts/Lato/Lato-Black.ttf);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.menu-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
}

.menu-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 3;
}

.burger {
  display: none;
}

.header-menu h1 span {
  margin-left: -185px;
  position: relative;
  z-index: 3;
}

.header-menu ul li a:hover {
  background-color: #74c7d5;
}

.header {
  height: 100vh;
  background-color: #c45158;
}
.header__container {
  z-index: 10;
}
.header__top {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
.header__main {
  text-align: center;
}
.header__text {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  background-color: #fff;
  max-width: 850px;
  margin: 0 auto;
  padding: 13px 34px 21px 34px;
  border-radius: 5px;
  opacity: 80%;
}
.header__text-l {
  color: #74c7d5;
  font-family: Lato;
  font-size: 45px;
  text-align: right;
  line-height: 45px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.header__text-b {
  color: #74c7d5;
  font-family: Lato-Black;
  font-size: 110px;
  letter-spacing: -3px;
  text-transform: uppercase;
}

@media (max-width: 1500px) {
  .header-menu h1 {
    margin-left: -50px;
  }
}
@media (max-width: 1360px) {
  .header__text-l {
    font-size: 40px;
    line-height: 30px;
  }
  .header__text-b {
    font-size: 90px;
  }
}
@media (max-width: 1280px) {
  .header__text-l {
    font-size: 30px;
    line-height: 25px;
  }
  .header__text-b {
    font-size: 70px;
  }
}
@media (max-width: 980px) {
  .header__text {
    padding: 15px;
  }
  .header__text-l {
    font-size: 20px;
    line-height: 20px;
  }
  .header__text-b {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .container {
    position: relative;
  }

  .menu-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 5px;
    z-index: 3;
  }

  .header-menu {
    height: 45px;
  }

  .header-menu ul li a {
    border-radius: 5px;
    padding: 15px !important;
  }

  .menu__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .menu__burger::before, .menu__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.4s ease;
  }
  .menu__burger::before {
    top: 0;
  }
  .menu__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.4s ease;
  }
  .menu__burger::after {
    bottom: 0;
  }
  .menu__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .menu__burger.active span {
    transform: scale(0);
  }
  .menu__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu-nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #665464;
    padding-top: 55px;
    overflow: auto;
    transition: all 0.4s ease;
  }

  .menu-nav.active {
    top: 0;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
  }
}
@media (max-width: 605px) {
  .header__text {
    padding: 20px 30px;
    flex-direction: column;
  }
  .header__text-l {
    text-align: center;
  }
}
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
/*SLIDER*/
.slider {
  padding: 0 50px;
  z-index: 1;
}

.slider__item {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.slider__item img {
  min-height: 100vh;
}

.container-slider {
  position: relative;
  max-width: 1600px;
}

.slider__arrows .slick-prev {
  position: absolute;
  height: 56px;
  width: 34px;
  font-size: 0;
  left: 50px;
  top: 50%;
  transform: translate(0, -50%);
  background: url("../img/slider/arrow_left.png") 0 0/100% no-repeat;
  z-index: 2;
  transition: left 0.4s ease;
}

.slider__arrows .slick-prev:hover {
  left: 40px;
}

.slider__arrows .slick-next {
  position: absolute;
  height: 56px;
  width: 34px;
  font-size: 0;
  right: 50px;
  top: 50%;
  transform: translate(0, -50%);
  background: url("../img/slider/arrow_right.png") 0 0/100% no-repeat;
  z-index: 2;
  transition: right 0.4s ease;
}

.slider__arrows .slick-next:hover {
  right: 40px;
}

.slick-dotted {
  padding: 0;
}

.slider__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(0, -50%);
  bottom: 50px;
}

.slider__dots ul {
  display: flex;
}

.slider__dots li {
  list-style: none;
  margin: 0 40px;
  z-index: 2;
}

.slider__dots ul li button {
  height: 20px;
  width: 20px;
  transition: 0.4s all ease;
}

.slider__dots ul li button:hover {
  border: 2px solid #74c7d5;
}

/* Активная точка */
.slider__dots li.slick-active button {
  background-color: #74c7d5;
}

/* Элемент точки */
.slider__dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.slider .slider__item {
  text-align: center;
}

.slider .slider__item.slick-center {
  opacity: 1;
}

@media (max-width: 980px) {
  .slider__arrows .slick-prev,
.slider__arrows .slick-next {
    position: absolute;
    height: 46px;
    width: 24px;
  }

  .slider__dots ul li button {
    height: 15px;
    width: 15px;
  }
}
@media (max-width: 768px) {
  .slider {
    margin-top: 0;
  }
}
@media (max-width: 605px) {
  .slider__arrows .slick-prev {
    left: 20px;
  }

  .slider__arrows .slick-next {
    right: 20px;
  }

  .slider__dots li {
    margin: 0 25px;
  }
}
.services-bg {
  background-image: url(../img/services/services-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

.services-menu ul li a:hover {
  background-color: #df5c64;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: 120px 0 120px 0;
}
.services__text {
  text-align: center;
  padding: 0 15px;
}
.services__text h2 {
  margin-bottom: 20px;
}
.services__text h3 {
  color: #ffffff;
  font-family: Lato;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
.services__text h3 span {
  color: #ec9da2;
}
.services__text p {
  color: #ffcccf;
}
.services__row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 110px;
}
.services__column {
  background-color: #c45158;
  margin-right: 20px;
  padding: 45px 25px;
  border-radius: 5px;
  width: 25%;
}
.services__column-img img {
  margin-bottom: 25px;
}
.services__column-name h2 {
  color: #ffffff;
  font-family: Lato;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.services__column-text p {
  color: #fefefe;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
}
.services__column:last-child {
  margin-right: 0;
}

@media (max-width: 1280px) {
  .services__row {
    padding-right: 15px;
    padding-left: 15px;
  }
  .services__column-name h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1100px) {
  .services__column {
    padding: 45px 10px;
  }
  .services__column-img img {
    margin-bottom: 15px;
    width: 110px;
  }
  .services__column-name h2 {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .services {
    padding-top: 15px;
    padding-bottom: 60px;
  }
  .services__text h2 {
    font-size: 45px !important;
    margin-bottom: 20px;
  }
  .services__text h3 {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 20px;
  }
  .services__row {
    flex-wrap: wrap;
    padding-top: 45px;
  }
  .services__column {
    background-color: #c45158;
    margin-right: 20px;
    padding: 45px 25px;
    border-radius: 5px;
    min-width: 48%;
    margin: 0px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .services-menu nav {
    display: none;
  }

  .services-menu {
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  .services {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .services__text h2 {
    font-size: 35px !important;
    margin-bottom: 20px;
    margin-bottom: 20px;
  }
  .services__text h3 {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 20px;
  }
  .services__row {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .services__column {
    min-width: 100%;
    margin-bottom: 20px;
  }
}
.who-bg {
  background-image: url(../img/who/who-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

.who-menu ul li a:hover {
  background-color: #91778e;
}

.who {
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: 120px 0 120px 0;
  text-align: center;
}
.who__text {
  padding-right: 15px;
  padding-left: 15px;
}
.who__text h2 {
  margin-bottom: 20px;
}
.who__text p {
  color: #e6d1e3;
}
.who__prompt {
  position: relative;
}
.who__prompt span {
  color: #ffffff;
  font-family: Lato-Black;
  font-size: 25px;
  text-transform: uppercase;
  padding: 16px 42px;
  background-color: #a1ca6c;
  display: inline-block;
  border-radius: 5px;
  margin-top: 59px;
  margin-bottom: 53px;
}
.who__prompt-arrow {
  position: absolute;
  bottom: 13px;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  border: 20px solid transparent;
  border-top: 20px solid #a1ca6c;
}
.who__team {
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.who__column {
  margin-right: 20px;
  background-color: rgba(91, 75, 89, 0.5);
  border-radius: 5px;
  padding: 43px 33px 33px 33px;
  width: 25%;
}
.who__column:last-child {
  margin-right: 0;
}
.who__column-img img {
  border: 5px solid #a1859e;
  border-radius: 50%;
  margin-bottom: 25px;
  transition: 0.5s all ease;
  width: 125px;
  height: 125px;
}
.who__column:hover img {
  border: 5px solid #df5c64;
}
.who__column-name {
  color: #c7b6c5;
  font-family: Lato-Black;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 13px;
  transition: 0.5s all ease;
}
.who__column:hover .who__column-name {
  color: #fff;
}
.who__column-position {
  color: #a1ca6c;
  font-family: Lato;
  font-size: 14px;
  margin-bottom: 37px;
  transition: 0.5s all ease;
}
.who__column:hover .who__column-position {
  color: #ff8973;
}
.who__column-sochial {
  display: flex;
  justify-content: space-between;
  max-width: 180px;
  margin: 0 auto;
}
.who__column-sochial a i {
  color: #fff;
  font-size: 15px;
  background-color: #a1859e;
  border-radius: 50%;
  padding: 9px;
}
.who__sochial-vk a i {
  padding: 9px 7px;
  transition: 0.5s all ease;
}
.who__sochial-vk a i:hover {
  background-color: #4f689e;
}
.who__sochial-twitter a i {
  transition: 0.5s all ease;
}
.who__sochial-twitter a i:hover {
  background-color: #74c7d5;
}
.who__sochial-google a i {
  transition: 0.5s all ease;
}
.who__sochial-google a i:hover {
  background-color: #df5c64;
}
.who__sochial-linkedin a i {
  transition: 0.5s all ease;
}
.who__sochial-linkedin a i:hover {
  background-color: #3e61af;
}
.who__column-sochial a i:nth-child(2) {
  background-color: red;
}

@media (max-width: 1100px) {
  .who__column {
    padding: 33px 23px 23px 23px;
  }
  .who__column-name {
    font-size: 20px;
  }
  .who__column-img img {
    margin-bottom: 25px;
  }
}
@media (max-width: 900px) {
  .who {
    padding-top: 15px;
    padding-bottom: 60px;
  }
  .who__text h2 {
    font-size: 45px !important;
    margin-bottom: 20px;
  }
  .who__prompt span {
    margin-top: 20px;
  }
  .who__team {
    flex-wrap: wrap;
  }
  .who__column {
    min-width: 48%;
    margin: 0;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .who__column-sochial a i {
    font-size: 18px;
    padding: 9px;
  }
}
@media (max-width: 768px) {
  .who-menu nav {
    display: none;
  }

  .who-menu {
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  .who {
    padding-top: 0;
    padding-bottom: 0;
  }
  .who__text h2 {
    font-size: 35px !important;
    margin-bottom: 20px;
  }
  .who__prompt {
    margin-bottom: -20px;
  }
  .who__prompt span {
    padding: 10px 25px;
  }
  .who__team {
    margin-bottom: 30px;
  }
  .who__column {
    min-width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}
.work-bg {
  background-image: url(../img/work/work-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

.work-menu ul li a:hover {
  background-color: #a1ca6c;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: 120px 0 120px 0;
  text-align: center;
}
.work__text {
  padding-right: 15px;
  padding-left: 15px;
}
.work__text h2 {
  margin-bottom: 20px;
}
.work__text p {
  color: #fff;
  margin-bottom: 58px;
}

.portfolio__hr {
  height: 1px;
  width: 100%;
  background-color: #94b963;
}
.portfolio__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
  padding-bottom: 42px;
}
.portfolio__title h2 {
  color: #ffffff;
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 19px;
}
.portfolio__tabs {
  margin-right: 28px;
}
.portfolio__tabs a {
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  margin-left: 47px;
  padding: 11px 10px;
  border-radius: 5px;
  transition: 0.5s all ease;
}
.portfolio__tabs a:hover {
  background-color: #f5c149;
}
.portfolio__tabs a:first-child {
  margin-left: 0;
}
.portfolio__row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  margin-top: 47px;
}
.portfolio__row:last-child {
  margin-bottom: 0;
}
.portfolio__column {
  max-width: 260px;
  margin: 5px 5px 10px 5px;
}
.portfolio__column a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
}
.portfolio__image {
  position: relative;
}
.portfolio__image a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  opacity: 0;
  transition: 0.5s all ease;
}
.portfolio__image a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/work/icon-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  z-index: 2;
  transition: 0.5s all ease;
}
.portfolio__image a:hover:before, .portfolio__image a:hover:after {
  opacity: 1;
}
.portfolio__column-arrow {
  position: absolute;
  border: 18px solid transparent;
  border-bottom: 19px solid #fff;
  top: -38px;
  left: 50%;
  transform: translate(-50%);
}
.portfolio__column-name {
  position: relative;
}
.portfolio__column-name h3 {
  color: #727272;
  font-family: Lato;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 980px) {
  .portfolio__tabs a {
    margin-left: 30px;
  }
}
@media (max-width: 900px) {
  .work {
    padding-top: 15px;
    padding-bottom: 60px;
  }
  .work__text h2 {
    font-size: 45px !important;
  }

  .portfolio__top {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .portfolio__title h2 {
    font-size: 18px;
  }
  .portfolio__tabs a {
    margin-left: 10px;
  }
}
@media (max-width: 768px) {
  .work-menu nav {
    display: none;
  }

  .work-menu {
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  .work {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .work__text p {
    margin-bottom: 20px;
  }

  .portfolio__top {
    flex-direction: column;
  }
  .portfolio__row {
    justify-content: center;
    margin-top: 15px;
  }
  .portfolio__tabs {
    margin-right: 0;
  }
  .portfolio__title h2 {
    margin-bottom: 15px;
    padding-left: 0;
  }
}
@media (max-width: 440px) {
  .portfolio__tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio__tabs a {
    min-width: 45%;
  }
  .portfolio__top {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.contact-bg {
  background-image: url(../img/contact/contact-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

.contact-menu ul li a:hover {
  background-color: #82c8bd;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  text-align: left;
  padding: 120px 0 120px 0;
}
.contact__text {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}
.contact__text h2 {
  margin-bottom: 20px;
}
.contact__text p {
  color: #fff;
  margin-bottom: 120px;
}
.contact__titles {
  display: flex;
}
.contact__titles h3 {
  color: #ffffff;
  font-family: Lato;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 27px;
  flex: 0 0 50%;
}
.contact__row {
  display: flex;
  justify-content: space-between;
}
.contact__address {
  display: flex;
  flex: 0 0 50%;
}
.contact__address-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact__address-top {
  margin-bottom: 50px;
}
.contact__address-top h4 {
  color: #c0dfda;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 19px;
}
.contact__address-top address {
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  line-height: 21px;
}
.contact__address-bottom {
  display: flex;
  justify-content: space-between;
}
.contact__address-bottom ul li {
  font-family: Lato;
  font-size: 16px;
  color: #d0efea;
  line-height: 21px;
}
.contact__address-bottom ul li a {
  font-family: Lato;
  font-size: 16px;
  color: #fff;
}
.contact__address-bottomb {
  margin-left: 23px;
}
.contact__adress-map {
  margin-left: 40px;
  margin-right: 50px;
}
.contact__adress-map iframe {
  width: 100%;
  height: 100%;
}
.contact__ask {
  width: 100%;
}
.contact__ask form {
  width: 100%;
}
.contact__inputs {
  width: 100%;
  display: flex;
}
.contact__ask input {
  padding: 15px 0 15px 19px;
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  background-color: #68a097;
  border-radius: 5px;
  width: 50%;
  transition: 0.5s all ease;
}
.contact__ask input:focus {
  background-color: #fff;
  color: #000;
}
.contact__inputs {
  width: 100%;
}
.contact__textarea textarea {
  padding: 15px 0 15px 19px;
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  resize: none;
  height: 160px;
}
.contact__button {
  text-align: right;
  margin-right: 136px;
}
.contact__button a {
  color: #ffffff;
  font-family: Lato-Black;
  font-size: 26px;
  text-transform: uppercase;
  padding: 13px 96px;
  display: inline-block;
  background-color: #df5c64;
  border-radius: 5px;
  border-bottom: 4px solid #c8535a;
  margin-top: 30px;
  transition: 0.5s all ease;
}
.contact__button a:hover {
  transform: translate(0, 4px);
  border-bottom: 4px solid transparent;
}
.contact #underline {
  text-decoration: underline;
}
.contact #form-message {
  width: 100%;
  margin-top: 19px;
  background-color: #68a097;
  border-radius: 5px;
  transition: 0.5s all ease;
}
.contact #form-message:focus {
  background-color: #fff;
}
.contact #form-name {
  margin-right: 20px;
}

@media (max-width: 1100px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (max-width: 980px) {
  .contact__row {
    flex-direction: column;
  }
  .contact__address {
    margin-bottom: 25px;
  }
  .contact__adress-map {
    margin-right: 0;
  }
}
@media (max-width: 900px) {
  .contact {
    padding-top: 15px;
    padding-bottom: 60px;
  }
  .contact__text h2 {
    font-size: 45px !important;
  }
  .contact__text p {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .contact-menu nav {
    display: none;
  }

  .contact-menu {
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  .contact {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .contact__text p {
    margin-bottom: 20px;
  }
  .contact__titles {
    display: none;
  }
  .contact__address {
    flex-direction: column;
  }
  .contact__address-top {
    margin-bottom: 15px;
  }
  .contact__address-top h4 {
    margin-bottom: 15px;
  }
  .contact__adress-map {
    margin-left: 0;
    margin-top: 25px;
  }
  .contact__address-text {
    text-align: center;
  }
  .contact__address-bottom {
    justify-content: center;
  }
  .contact__button {
    text-align: center;
    margin: 0 auto;
  }
  .contact__button a {
    margin-top: 10px;
    padding: 10px 50px;
    font-size: 20px;
  }
}
.footer {
  background-color: #68a097;
  padding: 45px 0 45px 0;
  text-align: center;
}
.footer i {
  font-size: 30px;
  color: #fff;
  padding: 15px;
  background-color: #82c8bd;
  border-radius: 50%;
  margin-right: 40px;
  transition: 0.5s all ease;
}
.footer i:hover {
  background-color: #df5c64;
}

#li {
  padding: 15px 18px;
  margin-right: 0;
}

@media (max-width: 900px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 580px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer i {
    font-size: 15px;
    margin-right: 10px;
  }
}
.services__text h2, .who__text h2, .work__text h2, .contact__text h2 {
  color: #ffffff;
  font-family: Lato;
  font-size: 60px;
  text-transform: uppercase;
}

.services__text p, .who__text p, .work__text p, .contact__text p {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

.container {
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
}

.menu h1, .menu h2 {
  color: #ffffff;
  font-family: Damion;
  font-size: 50px;
  line-height: 60px;
}

.menu ul li {
  display: inline;
  position: relative;
  z-index: 3;
}

.menu ul li a {
  color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  line-height: 60px;
  padding: 38px 26px 12px 26px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.5s all ease;
}

@media (max-width: 1200px) {
  .header-menu h2 span {
    font-size: 35px;
    margin-left: 0;
    padding-left: 20px;
  }

  .menu ul li a {
    font-size: 16px;
    padding: 38px 20px 12px 20px;
  }
}
@media (max-width: 980px) {
  .header-menu h2 span {
    font-size: 25px;
  }

  .menu ul li a {
    font-size: 16px;
    padding: 38px 15px 12px 15px;
  }
}
@media (max-width: 900px) {
  .menu {
    padding-top: 0;
  }
}
@media (max-width: 580px) {
  .menu h2 span {
    font-size: 20px !important;
    padding-left: 0;
  }
}